# Framework principal
Django>=5.0

# Driver para conectar Python con PostgreSQL
psycopg[binary]

# Para crear una API (indispensable para conectar con el frontend)
djangorestframework

# Para leer tu archivo .env fácilmente
django-environ
